@font-face {
  font-family: "font";
  src: url("../fonts/Brice-Bold-Expanded.otf") format("opentype");
}

:root {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

html,
body {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 16px;
}

body {
  font-family: "font";
  font-size: 1rem;

  margin: 1rem 1.5rem;
}

header {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  z-index: 1;
  cursor: pointer;
  transition: opacity 0.125s ease;
}

header:hover {
  opacity: 0.8;
}

header p {
  display: inline;
  font-size: 3rem;
  line-height: 1;
}

article {
  width: 100%;
  height: 100vh;
}

article figure img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
  transform-origin: 50% 50%;
}

article.fordesktop figure img:nth-child(1) {
  width: 15rem;
  top: 10rem;
  left: 4%;
}

article.fordesktop figure img:nth-child(2) {
  width: 13rem;
  top: 10rem;
  left: 20%;
}

article.fordesktop figure img:nth-child(3) {
  width: 2.5rem;
  top: 11.5rem;
  left: 25%;
}

article.fordesktop figure img:nth-child(4) {
  width: 3.5rem;
  top: 8rem;
  left: 35%;
}

article.fordesktop figure img:nth-child(5) {
  width: 12rem;
  transform: scaleX(-1);
  top: 9rem;
  left: 40%;
}

article.fordesktop figure img:nth-child(6) {
  width: 3.5rem;
  top: 8rem;
  left: 52%;
}

article.formobile figure img:nth-child(1) {
  width: 4rem;
  top: 2rem;
  right: 2.5rem;
}

article.formobile figure img:nth-child(2) {
  width: 4rem;
  top: 12rem;
  right: 1.25rem;
}

article.formobile figure img:nth-child(3) {
  width: 11rem;
  top: 11rem;
  left: 2rem;
}

article.formobile figure img:nth-child(1) {
  -webkit-animation: scale2 4s infinite;
  -moz-animation: scale2 4s infinite;
  -ms-animation: scale2 4s infinite;
  animation: scale2 4s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

article.formobile figure img:nth-child(3) {
  -webkit-animation: rotate3 3s infinite;
  -moz-animation: rotate3 3s infinite;
  -ms-animation: rotate3 3s infinite;
  animation: rotate3 3s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

article.formobile figure img:nth-child(5) {
  -webkit-animation: rotate4 3s infinite;
  -moz-animation: rotate4 3s infinite;
  -ms-animation: rotate4 3s infinite;
  animation: rotate4 3s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

article.formobile figure img:nth-child(8) {
  -webkit-animation: rotate2 5s infinite;
  -moz-animation: rotate2 5s infinite;
  -ms-animation: rotate2 5s infinite;
  animation: rotate2 5s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

article.formobile figure img:nth-child(9) {
  -webkit-animation: scale1 3s infinite;
  -moz-animation: scale1 3s infinite;
  -ms-animation: scale1 3s infinite;
  animation: scale1 3s infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}

article.formobile figure img:nth-child(3):hover,
article.formobile figure img:nth-child(5):hover,
article.formobile figure img:nth-child(8):hover {
  scale: 1.08;
}

article.formobile figure img:nth-child(4) {
  width: 4rem;
  top: 17rem;
  right: -0.75rem;
}

article.formobile figure img:nth-child(5) {
  width: 9rem;
  top: 21rem;
  right: 5rem;
}

article.formobile figure img:nth-child(6) {
  width: 3.5rem;
  top: 23rem;
  left: 3rem;
}

article.formobile figure img:nth-child(7) {
  width: 3.5rem;
  top: 26.5rem;
  left: 8rem;
}

article.formobile figure img:nth-child(8) {
  width: 9rem;
  top: 30rem;
  left: 1rem;
}

article.formobile figure img:nth-child(9) {
  width: 4rem;
  top: 38rem;
  right: 8.5rem;
}

article.formobile figure img:nth-child(10) {
  width: 4rem;
  top: 36.75rem;
  right: 0.5rem;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0.5rem;

  left: 50%;
  transform: translate(-50%, -50%);
}

address {
  font-style: normal;
  text-align: center;
  font-size: 1.25rem;
}

address span:nth-child(1),
header p:nth-child(1) {
  color: #eb6a3c;
}
address span:nth-child(2),
header p:nth-child(2) {
  color: #29aae0;
}
address span:nth-child(3),
header p:nth-child(3) {
  color: #86d41f;
}

@keyframes scale1 {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.09);
    -ms-transform: scale(1.09);
    transform: scale(1.09);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale2 {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes rotate2 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate3 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotate4 {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.formobile {
  display: none;
}

.fordesktop {
  display: block;
}

/*<!-- Modal -->*/

/* The Modal (background) */
.ebcf_modal1 {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.ebcf_modal-content1 {
  background-color: #fefefe;
  margin: auto;
  padding: 1rem;
  width: 75%;
}

.ebcf_modal-content1 p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0;
}

/* The Close Button */

.ebcf_close1:hover,
.ebcf_close1:focus {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (orientation: portrait), (max-width: 480px) {
  .formobile {
    display: block;
  }

  header {
    position: relative;
    transform: translate(0);

    top: 0;
    left: 0;
  }

  header p {
    display: block;
    font-size: 2.5rem;
    line-height: 0.3;
  }

  .fordesktop {
    display: none;
  }
}
